*{margin:0; padding:0;}
.mainBk{
    width:100%;
    height:100vh;
    header{
        width:100%;
        height:15%;
        display:flex;
        flex-direction:column;
        justify-content:flex-end;
        .logo{
            width:100%;
            height:50%;
            display:flex;
            justify-content:center;
            align-items:center;
            border-bottom:1px solid #333;
            .logoImage{
                width:400px;
                height:100px;
                background-image:url("../img/carMovie.png");
                background-size:100% 100%;
                margin-bottom:20px;
            }
        }
        ul{
            width:100%;
            height:30%;
            display:flex;
            justify-content:center;
            align-items:center;
            gap:8%;
            list-style:none;
            border-bottom:1px solid #333;
            a{
                text-decoration:none;
                color:black;
            }
        }
    }
    nav{
        width:100%;
        height:60%; 
        .movie-screening{
            width:100%;
            height:100%;
            background-color:#333;
            display:flex;
            justify-content:center;
            align-items:center;
            ul{
                width:100%;
                display:flex;
                justify-content:center;
                align-items:center;
                gap:50px;
                li{
                    width: 300px;
                    height:400px;
                    background:white;
                    list-style:none;
                    display:flex;
                    flex-direction:column;
                    justify-content:space-evenly;
                    align-items:center;
                    .inside-movie{
                        background-image:url("../img/inside.jpg");
                        background-size:100% 100%;
                    }
                    .escape-movie{
                        background-image:url("../img/escape.jpg");
                        background-size:100% 100%;
                    }
                    .pilet-movie{
                        background-image:url("../img/pilet.png");
                        background-size:100% 100%;
                    }
                    div[class$=-movie]{
                        width:290px;
                        height:390px;
                        position:relative;
                        .film-movie{
                            width:100%; 
                            height:100%;
                            background-color:rgba(0,0,0,0.2);
                            position:absolute;
                            display:none;
                            justify-content:center;
                            align-items:center;
                            a{
                                width:80px;
                                height:35px;
                                text-align:center;
                                line-height:35px;
                                background-color:red;
                                margin:0 20px 0 20px;
                                border-radius:10px;
                                font-size:14px;
                                color:white;
                                text-decoration:none;
                                transition: transform 0.3s ease;
                                &:hover{
                                    transform:scale(1.2);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .main_sub{
        width:100%;
        height:50%;
        .movie-requirements{
            width:100%;
            height:100%;
            ul{
                width:100%;
                height:100%;
                display:flex;
                justify-content:center;
                align-items:center;
                gap:50px;
                li{
                    width:350px;
                    height:250px;
                    background-color:white;
                    border:1px solid yellow;
                    border-radius:20px;
                    list-style:none;
                    cursor:pointer;
                    transition:transform 1s ease;
                    &:hover{
                        transform:scale(1.2);
                    }
                    a{
                        width:350px;
                        height:250px;
                        position:absolute;
                    }
                    span{
                        font-size:30px;
                        text-decoration:underline;
                        position:relative;
                        top:4%;
                        left:4%;
                        color:white;
                    }
                }
                .sub_movieMenu{
                    background-image:url("../img/parking.png");
                    background-size:cover;
                }
                .sub_movieparking{
                    background-image:url("../img/callCenter.png");
                    background-size:cover;
                }
                .sub_movielocation{
                    background-image:url("../img/mapImage.PNG");
                    background-size:cover;
                }
            }
        }
    }
}
@media screen and (max-width:1000px) {
    .mainBk{
        nav{
            .movie-screening{
                ul{
                    li{
                        width:250px;
                        height:350px;
                        div[class$=-movie]{
                            width:240px;
                            height:340px;
                            position:relative;
                        }
                    }
                }
            }
        }
        .main_sub{
            .movie-requirements{
                ul{
                    li{
                        width:250px;
                        height:250px;
                        a{
                            width:250px;
                            height:250px;
                        }
                        span{
                            font-size:22px;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width:800px) {
    .mainBk{
        nav{
            .movie-screening{
                ul{

                    li{
                        width:200px;
                        height:300px;
                        div[class$=-movie]{
                            width:190px;
                            height:290px;
                            position:relative;
                        }
                    }
                }
            }
        }
        .main_sub{
            .movie-requirements{
                ul{
                    li{
                        width:200px;
                        height:200px;
                        a{
                            width:200px;
                            height:200px;
                        }
                        span{
                            font-size:22px;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width:700px) {
    .mainBk{
        nav{
            height:50%;
            .movie-screening{
                ul{
                    li{
                        width:185px;
                        height:260px;
                        div[class$=-movie]{
                            width:175px;
                            height:250px;
                            position:relative;
                        }
                    }
                }
            }
        }
        .main_sub{
            .movie-requirements{
                ul{
                    li{
                        width:180px;
                        height:180px;
                        a{
                            width:180px;
                            height:180px;
                        }
                        span{
                            font-size:22px;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width:450px){
    .mainBk{
        nav{
            height:25%;
            .movie-screening{
                ul{
                    li{
                        width:80px;
                        height:130px;
                        div[class$=-movie]{
                            width:70px;
                            height:120px;
                            position:relative;
                        }
                    }
                }
            }
        }
        .main_sub{
            height:25%;
            .movie-requirements{
                ul{
                    li{
                        width:90px;
                        height:90px;
                        a{
                            width:90px;
                            height:90px;
                        }
                        span{
                            font-size:8px;
                        }
                    }
                }
            }
        }
    }
}